* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* контейнер шапки сайта */
.header_product_name {
    width: 100%;
    min-height: 323px;
    background-image: url(../images/header_bg.png);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.header_title {
    font-family: Arial;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}

.header_order {
    list-style-type: none;
}