* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    background-image: url(../images/background.png);
}

/* контейнер шапки сайта */
.header_product_name {
    width: 100%;
    min-height: 323px;
    background-image: url(../images/header_bg.png);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

/* блок шапки слева */
.header_block_left {

}

/* заголовок слева */
.header_title {
    font-family: Arial;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 30px 0;
}

/* список под заголовком */
.header_order {
    list-style-type: none;
    margin: 0;
}

/* элементы списка */
.header_order_list {
    position: relative;
    font-family: Arial;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

/* галочки у элементов списка через псевдоэлемент */
.header_order_list:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 4px;
    left: -40px;
    background-image: url(../images/header_order_list_icon.png);
    -webkit-background-size: cover;
    background-size: cover;
}

/* фото товара в шапке сайта */
.header_image {
}

/* блок "about your product" */
.section_about{
    width: 100%;
    padding: 50px;
    background-image: url(../images/about_bg.png);
    display: flex;
    justify-content: space-between;
}

/* обертка слева в разделе about */
.section_about_left {
    width: 653px;
}

/* заголовок в разделе about */
.section_about_title {
    color:#445161;
    font-family: Arial;
    font-size: 30px;
    align: left;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
}

/* параграфы в разделе about */
.section_about_paragraph {
    color:#333333;
    font-family: Arial;
    font-size: 16px;
    align: left;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 24px;
    font-weight: 400;
}

/* видео в разделе about */
.video_about {
    display: block;
    width: 431px;
    height: 246px;
    background-image: url(../images/about_video.png);
}

/* обертка блока pluses */
.pluses {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* заголовок блока pluses */
.pluses_title {
    display: block;
    width: 100%;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 30px 0;
    text-align: center;
}

/* обертка параграфов pluses */
.pluses_paragraph_block {
    width: 50%;
}

.pluses_details {
    margin: 0 0 30px 0;
}

.plusses_summary {
    outline: none;
    position: relative;
}

.plusses_summary::-webkit-details-marker {
    display: none;
}

.plusses_summary:before {
    content: "+";
    display: block;
    width: 30px;
    height: 30px;
    text-align: center; 
    color: #fff;
    font-size: 35px; 
    line-height: 30px;
    background-color: #445161;
    position: absolute;
    top: 4px;
    left: -35px;
}

.pluses_details[open] .plusses_summary:before {
    content: "-";
    display: block;
    width: 30px;
    height: 30px;
    text-align: center; 
    color: #fff;
    font-size: 35px; 
    line-height: 30px;
    background-color: #445161;
    position: absolute;
    top: 4px;
    left: -35px;
}
/* параграфы pluses */
.pluses_paragraph {
    width: 570px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 0 0;
}

/* раздел со скриншотами */
.screenshots {
    background-image: url(../images/screenshots_bg.png);
    width: 100%;
    padding: 50px;
}

.screenshots_title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 30px 0;
    text-align: center;
}
/* обертка блоков со скришнотами для использования flex */
.screenshots_block {
    display: flex;
    flex-wrap: wrap;
}

/* блок со скриншотом и текстом */
.screenshot_block {
    width: 575px;
    display: flex;
    margin: 0 15px 30px 0;
}

/* блок с заголовком и текстом */
.screenshots_text {
    margin: 0 0 0 15px;
}

.screenshot_image_title {
    font-family: Arial;
    font-size: 24px;
    line-height: 17px;
    font-weight: 400;
    color: #445161;
    display: block;
    margin: 0 0 15px 0;
}

.screenshot_image_paragraph {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    display: block;
    margin: 0;
}

.reviews {
    width: 100%;
    padding: 50px;
}
.reviews_title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}

.reviews_blocks {
    display: flex;
    flex-wrap: wrap;
}

.reviews_block {
    width: 575px;
    display: flex;
    margin: 0 15px 15px 0;
}

.userpic {
    margin: 0 15px 0 0;
}

.reviews_text {
    background-image: url(../images/review_text_bg.png);
    background-repeat: no-repeat;
    padding: 15px 20px;
    background-size: cover;
}

.reviews_paragraph {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    margin: 0 0 15px 0;
}

.reviews_user {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
}

.buy {
    background-image: url(../images/buy_bg.png);
    width: 100%;
    padding: 50px 145px;
}

.buy_title {
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}

.buy_items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.buy_items_price {
    background-image: url(../images/price_100_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    padding: 15px 0;
}

.buy_items_price_title {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.buy_items_price_span {
    display: block;
    background-image: url(../images/bg_price_items.png);
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    text-align: center;
    width: 300px;
    padding: 18px 0;
}

.buy_items_price_list {
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.buy_button {
    display: block;
    text-decoration: none;
    font-family: Arial;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    color: #445161;
    text-align: center;
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    margin: 0 auto;
}

.contacts {
    background-image: url(../images/footer_bg.png);
    padding: 50px 235px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_title {
    font-family: Arial;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 30px 0;
    text-align: center;
}

.footer_form {
    display: flex;
    flex-direction: column;
    width: 501px;
}

.input_name, .input_email, .footer_textarea {
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: 1px solid #445162;
    outline: none;
}

.footer_textarea {
    resize: none;
}

.footer_submit {
    width: 141px;
    align-self: center;
    background-color: white;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #445162;
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid #445162;
    outline: none;
}

.social_link {
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.skype_link, .icq_link, .email_link, .phone_link {
    display: block;
    position: relative;
    margin: 0 0 30px 30px;
}

.skype_link:before {
    content: "";
    background-image: url(../images/skype_icon.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 26px;
    position: absolute;
    left: -30px;
}

.icq_link:before {
    content: "";
    background-image: url(../images/icq_icon.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -30px;
}

.email_link:before {
    content: "";
    background-image: url(../images/email_icon.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    left: -30px;
}

.phone_link:before {
    content: "";
    background-image: url(../images/phone_icon.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 23px;
    position: absolute;
    left: -30px;
}

.social_link_buttons {
    display: block;
}

.font_icon_button {
    font-size: 24px;
    width: 45px;
    height: 45px;
    background-color: white;
    color: #445162;
    border-radius: 50%;
    border: 1px solid #445162;
    text-align: center;
    padding: 4%;
}
